@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html, * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
}

a {
  text-decoration: none;
  color: black;
}

i {
  color: black;
}

li {
  list-style-type: none;
}

nav {
  color: black;
  display: flex;
  width: 100%;
  height: 80px;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  margin-bottom: 10px;
}


nav ul {
  display: flex;
  margin: 0 20px 0 0;
}

nav ul li {
  list-style-type: none;
}

#Title {
  margin-left: 20px;
  margin-right: 40px;
  font-size: 26px;
  font-weight: bold;
}

#Search {
  justify-content: flex-end;
}

#Search li:first-child {
  background: black;
  color: white;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  text-align: center;
}

#Middle {
  margin-left: -200px;
}

#Middle li {
  margin: 0 10px;
}

#Search li {
  margin: 0 10px;
}


header {
  background: #fbe0dc;
  border-radius: 15px;
  height: 533px;
  width: 80%;
  max-width: 1200px;
  text-align: center;
  margin: auto;

}

.header-left {
  text-align: left;
  width: 240px;
  padding-top: 75px;
  margin-left: 65px;
}

.header-left h1 {
  margin-bottom: 10px;
}

.header-left li:nth-last-child(1) {
  margin-top: 10px;
}


.right {
  display: flex;
  width: 65%;
  border: 2px solid red;
}

.left {
    width: 35%;
    border: 2px solid blue;
}

.main-right input {
  border: 2px solid grey;
  border-radius: 2px;
}

.filter {
  display: flex;
  justify-content: space-between;
  width: 300px;

}

.clear-filter {
  color: #FF7874;
}

main {
  display: flex;
}

.search-bar {
  height: 40px;
  width: 550px;
}

.card-top img {
  width: 200px;
  height: 200px;
}